In [29]:
from lxml import html
import requests
import pandas as pd

page = requests.get('https://www.worldometers.info/coronavirus/news-block/news_main_updates.php?fd=lm_2020-06-05&country=BGD&region=%27%27&days_count=300')
tree = html.fromstring(page.content)
#This will create a list of cases:
buyers = tree.xpath('//li[@class="news_li"]/strong/text()')
pd.DataFrame(buyers)

                   0
0    2,423 new cases
1      35 new deaths
2    2,695 new cases
3      37 new deaths
4    2,911 new cases
..               ...
142      2 new cases
143      4 new cases
144      4 new cases
145      1 new death
146      3 new cases

[147 rows x 1 columns]